h1 {
  font-size: 60px;
}
a {
  font-size: 16px;
}
.bg-croissant {
  background: radial-gradient(
    circle at 3.1% 8.2%,
    rgb(248, 250, 107) 0%,
    rgb(238, 148, 148) 98.2%
  );
}
p {
  font-size: 20px !important;
}
